/*---------------------------------------------------------------------------------
   Common Styles
---------------------------------------------------------------------------------*/
/*float styles*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background: url("../images/throne.jpg") center;
	text-align: center;
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	color: black;
}
/*---------------------------------------------------------------------------------
   Header Styles
---------------------------------------------------------------------------------*/
nav {
	position: relative;
	height: 10%;
	padding: 1em;
}

nav ul li a {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2em;
	color: #fff;
}

nav ul li {
	float: left;
}

nav li a:hover {
	color: #ff0000;
}

h1 {
	font-weight: 900;
	font-size: 3.9em;
	padding: 0.8em;
	color: #fff;
	text-shadow: #000 0.1em 0.1em 0.2em;
}

#start-button {
	background: #000;
	border: 2px solid #ff0000;
	font-size: 1.5em;
	padding: 1em;
	border-radius: 5px;
	color: #fff;
	width: 300px;
	margin-top: 10%;
}

#start-button:active {
	background: #ff0000;
}

#start-button:focus {
	outline: none;
}

/*---------------------------------------------------------------------------------
Instruction Overlay and Quiz Module
---------------------------------------------------------------------------------*/
/*style for hidden modal*/
.overlay {
	width: 70%;
	height: 60%;
	color: #fff;
	background: url("../images/redkeep.jpg") center no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	margin: 10% 10% 10% 15%;
	z-index: 1000;
	display: none;
}

.overlay h3 {
	color: #ff0000;
	font-size: 2em;
	text-align: center;
	margin-bottom: 2%;
	text-shadow: #000 0.1em 0.1em 0.2em;
}

.instruction-header {
	display: block;
	width: 700px;
	text-align: center;
	margin: 0 auto;
	font-size: 1.2em;
	margin-bottom: 2%;
	text-shadow: #000 0.1em 0.1em 0.2em;
}

.instruction-list {
	text-align: justify;
	width: 600px;
	margin: 0 auto;
}

.instruction-list li {
	margin: 0 auto;
	list-style-type: disc;
	font-size: 1.2em;
	text-shadow: #000 0.1em 0.1em 0.2em;
}

.instruction-footer {
	margin-top: 2%;
	font-size: 1.2em;
	font-weight: bold;
	color: #ff0000;
	text-shadow: #000 0.1em 0.1em 0.2em;
}

.close-button {
	background: #000;
	border: 2px solid #ff0000;
	display: block;
	font-size: 1em;
	padding: .5em;
	width: 200px;
	border-radius: 5px;
	color: #fff;
	margin: 2% auto 0 auto;
}

.close-button:active {
	background: #ff0000;
}

.quiz-container {
	width: 100%;
	max-height: 100%;
	min-height: 900px;
	color: #fff;
	background: url("../images/stark.png") no-repeat center;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	display: none;
}

.question-count {
	font-size: 1.8em;
	font-weight: bold;
	text-shadow: #000 0.1em 0.1em 0.2em;
	color: #fff;
	float: left;
	margin: 2% 0 0 3%;
}

.quiz {
	display: block;
	margin-top: 9%;
	vertical-align: middle;
	text-align: center;
}

.question {
	font-size: 2.5em;
	font-weight: bold;
	text-shadow: #000 0.1em 0.1em 0.1em;
	text-align: center;
	color: #fff;
	margin-bottom: 3%;
}

.answer {
	background: #ff0000;
	font-size: 1em;
	padding: 0.2em;
	border-radius: 5px;
	width: 300px;
	display: block;
	margin: 0.8em auto 0;
	color: #fff;
	height: 50px;
}
.answer:focus {
	background: #00A615;
	outline: none;
}

#submit {
	background: #000;
	border: 2px solid #ff0000;
	font-size: 1.5em;
	padding: 0.7em;
	border-radius: 5px;
	color: #fff;
	width: 300px;
	margin-top: 5%;
}

#submit:active {
	background: #ff0000;
}

#submit:focus {
	outline: none;
}

.score-container {
	margin-top: 2%;
}

.score-container p {
	color: #000;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 1%;
}

.score-container img {
	display: none;
	vertical-align: top;
}

/*---------------------------------------------------------------------------------
Correct and Incorrect Modals
---------------------------------------------------------------------------------*/
.correct-overlay {
	width: 60%;
	height: 50%;
	color: #fff;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	display: none;
}

.incorrect-overlay {
	width: 60%;
	height: 50%;
	color: #fff;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	display: none;
}

/*---------------------------------------------------------------------------------
End Screens
---------------------------------------------------------------------------------*/

.moon-door {
	width: 100%;
	height: 100%;
	color: #fff;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	display: none;
}

.nights-watch {
	width: 100%;
	height: 100%;
	color: #fff;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	display: none;
}

.kingsguard {
	width: 100%;
	height: 100%;
	color: #fff;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	display: none;
}

.winner {
	width: 100%;
	height: 100%;
	color: #fff;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	display: none;
}